/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

.container{
    width: 1920px;
    max-width: 1920px;
    margin: auto;
}


/* UpItems */

.UpItems{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
}

.prompt{
    display: flex;
    align-items: center;
    gap: 25px;
}

.prompt__p{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
}

.UpItems__p{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
}

b{
    font-weight: 600;
}

.UpItems__us{
    display: flex;
    align-items: center;
    gap: 24px;
}

.UpItems__us--p{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    gap: 8px
}


/* header */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 150px;
}


.header__flex{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__flex--box{
    width: 641px;
    height: 48px;
    background-color: #0000000A;
    border-radius: 8px;
    padding: 14px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header__flex--input{
    width: 230px;
    height: 18px;
    border: none;
    background: none;
    outline: none;
}


.header__flex--input--p{
    font-size: 16px;
    font-weight: 500;
    color: #727272;
    margin-left: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}


.flex{
    display: flex;
}


/* header2 */

.header2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 150px;
}

.flex2{
    display: flex;
    align-items: center;
    gap: 30px;
}


.header2__div{
    width: 270px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1E1E1E;
    border-radius: 8px;
    padding: 14px 30px;
}

.header2__div--p{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.header2__nav{
    display: flex;
    align-items: center;
    gap: 30px;
}


.header2__nav--link{
    font-size: 16px;
    font-weight: 500;
    color: #5C5C5C;
}

.header2__nav--link:active{
    font-weight: 600;
    color: #1E1E1E;
}


.flex3{
    display: flex;
    align-items: center;
    gap: 10px;
}

.flex3__p{
    font-size: 14;
    font-weight: 500;
    width: 180px;
    color: #000;
}

span{
    color: #2E2E2E;
    font-weight: 400;
}